

.footer{
    width: 100%;
    padding: 50px 0px;
 
}

.conatiner__footer{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
    max-width: 100%;
    margin: auto;
    margin-top: 100px;
    background-color: rgb(14, 3, 56);
    padding: 1em 0;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: rgb(14, 3, 56);
}

.box__footer .img img{
    width:160px;
    margin: 0px;
}

.box__footer .terminos {
    max-width: 300px;
    margin-top: 10px;
    font-weight: 500;
    color: white;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px ;
    color:rgb(193,216,47);
    font-weight: 700;
}
.terminos h5{
    margin-bottom: 1px ;
    color:rgb(193,216,47);
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px ;
    font-weight: 600;
    background-color: rgb(14, 3, 56);
    color: aliceblue;
}
.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .icon{
    font-size: 25px;
}

.box__coppight{
    max-width: 1500px;
    margin: auto;
    text-align: center;
    
}
.box__coppight p{
    margin: 0px;
    color: white;
    background-color: rgb(14, 3, 56);
}
a:link, a:visited, a:active {
    text-decoration:none; 
    
}

p{
    color: white;
    font-weight: 500;
}
